@page
    <div>
        <h1>Latest weather measurements</h1>
    </div>
    <div>
        @*Indlæs en liste af data her*@
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/chat.js"></script>*@

    